version: "3"

services:
  test-database-1:
    image: library/postgres:14
    container_name: testdb-1
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: '123456'
      POSTGRES_DB: 'postgres'
    ports:
      - "5435:5432"
  test-database-2:
    image: library/postgres:14
    container_name: testdb-2
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: '123456'
      POSTGRES_DB: 'postgres'
    ports:
      - "5436:5432"